.content {
  background-color: #f6f6f6;
}

.home-admin {
  color: black;
  font-size: 1em;
}

.title-home {
  font-size: 2.5rem;
  border-bottom: 2px solid #0E5F8E;
  font-weight: bold;
}

.title-info-home {
  color: #0E5F8E;
}

.home-admin {
  padding: 2% 5%;
  width: 100%;
}

.separate {
  justify-content: space-between;
}

.user-home {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  position: relative;
  height: 20vh;
  margin: 5% 0% !important;
  display: flex;
  justify-content: normal;
  align-items: center;
  justify-items: normal;
}

.img-admin {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 0.5px;
  right: 3%;
}

.img-admin img {
  height: 100%;
}

.photo-user {
  border-radius: 10px;
}

.user-profile {
  margin-top: 100px;
}

.text-welcome {
  color: #0E5F8E;
  font-size: 3em;
  font-weight: bold;
}

.profile-home {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: normal;
  align-items: center;
  justify-items: normal;
  flex-direction: column;
  padding: 2%;
}

.photo {
  width: 200px;
  height: 200px;
  margin-bottom: 5%;
}

.photo-user {
  border-radius: 50%;
}

.title-profile {
  font-size: 2em;
  font-weight: 500;
}

.title-quick-link {
  font-size: 2em;
  color: #0d5e8e;
  margin: 3%;
  width: 94%;
  border-bottom: 2px solid;
}

.quick-link {
  justify-content: space-around;
  margin-bottom: 5%;
}

.card-quick-link {
  margin-bottom: 2%;
  border-radius: 10px;
  padding: 2%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.btn-quick-link1 {
  padding: 3% 0%;
  border-radius: 5px;
  width: 60%;
  background-color: #D2EAF8;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.btn-quick-link2 {
  padding: 3% 0%;
  border-radius: 5px;
  width: 60%;
  background-color: #D2EFB9;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.btn-quick-link3 {
  padding: 3% 0%;
  border-radius: 5px;
  width: 60%;
  background-color: #F8D4C0;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.icono-quick1 {
  width: 35px;
  height: 35px;
  background-color: #D2EAF8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-quick2 {
  width: 35px;
  height: 35px;
  background-color: #D2EFB9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-quick3 {
  width: 35px;
  height: 35px;
  background-color: #F8D4C0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card-home {
  display: grid;
  justify-content: center;
  align-items: normal;
  justify-items: center;
}

.data-totals {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: normal;
  margin-top: 20%;
  width: 100%;
}

.data-icon-color1, .data-icon-color2 {
  width: 70px;
  height: 70px;
  background-color: #D2EAF8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: normal;
}

.data-icon-color1 {
  background-color: #D2EAF8;
}

.data-icon-color2 {
  background-color: #D2EFB9;
}

.data-icon {
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: normal;
}

.icon-totals {
  font-size: 2.5em;
  color: #626262;
}

.data-info {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: normal;
  flex-direction: column;
  width: 60%;
  text-align: center;
}

.number-data1 {
  color: #D2EAF8;
  font-weight: bold;
  font-size: 2em;
}

.number-data2 {
  color: #D2EFB9;
  font-weight: bold;
  font-size: 2em;
}/*# sourceMappingURL=style.css.map */