.Search{
    display: flex;
    width: 90%;
    margin-bottom: 3%;
    background-color: none;
}

.input{
    border: solid 1px;
    display: flex;
    border-radius: 10px;    
}
.input-text {
    background: none;
    border-bottom: none;
    border-right: 1px solid;
}