$active:#93C567;
$inactive:#F54C46;

.btn-state{
    border-radius: 50px;
    position: relative;
    width: 90%;
}

.active-btn{
    background-color: $active;
    color: white;
    padding: 1% 4% 1% 1%;
}

.inactive{
    background-color: $inactive;
    color: white;
    padding: 1% 1% 1% 4%;
}

.circle{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 5px;
}

.active-btn .circle{
    right: 5%;
    transition: right 0.5s;
}

.inactive .circle{
right: 75%;
transition: right 0.5s;
}